@{
    Layout = null;
}
<!DOCTYPE html>
<html class="home">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/images/favicon-16x16.png">
    <title>TSU Portal</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/core.css" rel="stylesheet" />
    <link href="~/Content/icons/icomoon/styles.css" rel="stylesheet" />
    <link href="~/Content/css/components.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/theme-dark.css" rel="stylesheet" />
</head>
<body class="home pobolj">

    <div class="home-container">
        <div class="logo-container"><img src="@Url.Content("~/Content/images/logo-home.png")" /></div>
        <div>
            <a href="http://tsu/">
                <div class="column">
                    <span>
                        <i class="home-icon-status"></i><br>
                        <div>Tehnički sistem upravljanja</div>
                    </span>
                </div>
            </a>
            <a href="#">
                <div class="column">
                    <span>
                        <i class="home-icon-compass"></i><br>
                        <div>GIS</div>
                    </span>
                </div>
            </a>
            <a href="#">
                <div class="column">
                    <span>
                        @*<i class="home-icon-personnel"></i><br>*@
                        <div>U pripremi</div>
                    </span>
                </div>
            </a>
            <a href="http://svdewww06/ProficyPortal/default.htm?USER=bvk&PASSWORD=bvk">
                <div class="column">
                    <span>
                        <i class="home-icon-portal"></i><br>
                        <div>RTIP</div>
                    </span>
                </div>
            </a>
            <a href="http://192.168.116.13/Reports/Pages/OpisTagaUpit.aspx">
                <div class="column">
                    <span>
                        <i class="home-icon-finance"></i><br>
                        <div>Preuzimanje arhiviranih podataka </div>
                    </span>
                </div>
            </a>
            <a href="http://192.168.116.13/">
                <div class="column">
                    <span>
                        <i class="home-icon-finance"></i><br>
                        <div>Pregled arhiviranih podataka </div>
                    </span>
                </div>
            </a>
            <a href="http://tsu/loginn.asp">
                <div class="column">
                    <span>
                        <i class="home-icon-reports"></i><br>
                        <div>Obezbeđenje</div>
                    </span>
                </div>
            </a>
            <a href="http://192.168.116.5/ifixwebspace/logon.html" )">
                <div class="column">
                    <span>
                        <i class="home-icon-crashes"></i><br>
                        <div>Web SCADA</div>
                    </span>
                </div>
            </a>
            <a href="#">
                <div class="column">
                    <span>
                        @*<i class="home-icon-contact"></i><br>*@
                        <div>U pripremi</div>
                    </span>
                </div>
            </a>
</div>
        @*<div>
            <img src="../../Content/images/LogoTelematikaBeli_160x96.png" style="position: fixed; right: 10px; bottom: 10px; width: 80px;" />
        </div>*@
    </div>


</body>
</html>